# Beer Production in the United States 2014 - 2024

In [58]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
state_brewery_count_df = pd.read_excel('../data/brewery_count_by_state_2024.xlsx', sheet_name='2010 - 2024', skiprows=7, skipfooter=12)
# beer_national_report_2024_df = pd.read_excel('../data/Beer_National_Report_22-MAY-2025.xlsx', sheet_name='2024',  skiprows=7, skipfooter=8)
# beer_national_report_2023_df = pd.read_excel('../data/Beer_National_Report_22-MAY-2025.xlsx', sheet_name='2023',  skiprows=7, skipfooter=8)
# beer_national_report_2022_df = pd.read_excel('../data/Beer_National_Report_22-MAY-2025.xlsx', sheet_name='2022',  skiprows=7, skipfooter=8)
# beer_national_report_2021_df = pd.read_excel('../data/Beer_National_Report_22-MAY-2025.xlsx', sheet_name='2021',  skiprows=7, skipfooter=8)
# beer_national_report_2020_df = pd.read_excel('../data/Beer_National_Report_22-MAY-2025.xlsx', sheet_name='2020',  skiprows=7, skipfooter=8)
# beer_national_report_2019_df = pd.read_excel('../data/Beer_National_Report_22-MAY-2025.xlsx', sheet_name='2019',  skiprows=7, skipfooter=8)
# beer_national_report_2018_df = pd.read_excel('../data/Beer_National_Report_22-MAY-2025.xlsx', sheet_name='2018',  skiprows=7, skipfooter=8)
# beer_national_report_2017_df = pd.read_excel('../data/Beer_National_Report_22-MAY-2025.xlsx', sheet_name='2017',  skiprows=7, skipfooter=8)
# beer_national_report_2016_df = pd.read_excel('../data/Beer_National_Report_22-MAY-2025.xlsx', sheet_name='2016',  skiprows=7, skipfooter=8)
# beer_national_report_2015_df = pd.read_excel('../data/Beer_National_Report_22-MAY-2025.xlsx', sheet_name='2015',  skiprows=7, skipfooter=8)
# beer_national_report_2014_df = pd.read_excel('../data/Beer_National_Report_22-MAY-2025.xlsx', sheet_name='2014',  skiprows=7, skipfooter=8)
# df3 = pd.read_excel('../data/Brewers_Association_Data_20250717.xlsx')
# df4 = pd.read_excel('../data/BrewersProduction_22-MAY-2025.xlsx')

state_brewery_count_df

,Unnamed: 0,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,STATE,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT
1,AK,20,23,25,25,28,35,36,45,51,59,66,72,75,79,80
2,AL,7,9,15,23,25,30,37,52,55,66,68,77,84,93,99
3,AR,5,7,13,18,23,29,34,44,53,58,70,76,82,90,94
4,AZ,37,45,55,59,77,91,110,130,146,157,170,179,184,186,197
5,CA,358,401,472,528,654,788,927,1106,1236,1370,1465,1524,1571,1563,1624
6,CO,129,149,185,234,300,352,386,448,500,544,561,586,614,619,641
7,CT,21,20,24,39,50,59,76,103,124,149,162,172,176,177,179
8,DC,4,6,5,11,12,13,13,13,13,15,17,19,21,21,22
9,DE,11,12,13,13,15,21,25,33,38,43,47,51,54,57,60
10,FL,60,71,89,113,158,205,264,338,386,464,500,531,571,598,618
11,GA,26,25,31,37,48,54,69,102,121,158,186,208,234,244,265
12,HI,11,12,15,17,20,26,23,28,38,43,44,50,52,52,53
13,IA,27,35,46,54,60,71,94,115,125,137,149,154,166,177,181
14,ID,25,33,39,42,51,57,67,76,87,101,118,120,129,136,138
15,IL,62,68,95,123,164,210,244,291,338,372,405,418,436,455,463
16,IN,43,59,72,95,116,151,163,213,234,261,277,288,295,305,311
17,KS,17,21,21,25,27,37,47,53,64,78,78,88,92,100,112
18,KY,14,21,25,25,38,48,60,73,86,105,118,128,138,147,152
19,LA,12,12,12,15,17,25,34,43,47,60,68,69,75,78,80
20,MA,48,52,65,82,98,124,146,189,230,268,293,321,340,355,367
21,MD,24,26,40,43,55,73,88,116,141,159,176,188,200,206,218
22,ME,44,49,53,60,71,84,102,131,165,186,197,212,227,235,241
23,MI,111,131,160,195,256,316,379,452,510,577,605,636,670,691,719
24,MN,42,56,70,75,113,142,165,214,239,267,286,301,314,322,331
25,MO,51,55,60,63,77,90,116,145,168,192,212,230,249,261,275
26,MS,3,*,4,7,10,14,14,16,19,22,25,32,33,35,38
27,MT,31,35,41,49,62,74,79,98,108,121,128,137,139,138,142
28,NC,61,71,94,125,155,207,260,330,387,443,491,544,578,597,613
29,ND,3,3,7,8,10,11,15,22,26,29,31,34,33,33,33
30,NE,16,18,20,25,35,39,47,53,60,67,73,78,82,81,87
31,NH,19,21,25,35,46,63,73,88,106,125,135,140,156,154,161
32,NJ,24,31,29,37,49,71,96,123,146,175,186,198,211,219,232
33,NM,26,30,38,48,60,71,86,110,124,143,151,155,161,159,169
34,NV,20,20,23,26,34,39,44,46,50,65,71,73,72,76,81
35,NY,100,123,150,193,255,329,394,471,532,618,666,720,762,788,822
36,OH,75,81,99,114,151,187,236,324,377,437,482,525,563,602,625
37,OK,10,10,13,17,18,21,26,43,55,76,88,95,102,108,114
38,OR,120,148,180,220,244,281,304,347,386,406,428,441,451,459,459
39,PA,118,146,162,183,233,278,333,411,472,560,619,712,761,819,854
40,RI,5,6,9,12,14,15,17,27,33,40,51,52,54,55,54
41,SC,16,17,23,30,37,51,59,84,94,115,131,149,164,172,178
42,SD,8,9,12,12,15,19,21,28,35,45,58,63,64,68,70
43,TN,26,31,45,51,69,88,101,120,140,174,196,205,220,232,243
44,TX,59,84,107,128,170,220,266,333,387,466,526,581,618,650,688
45,UT,18,18,22,24,27,29,34,39,46,54,54,55,61,65,66
46,VA,44,54,67,85,117,155,209,287,328,383,420,447,479,517,552
47,VT,32,34,39,45,51,66,73,84,90,100,106,111,117,118,118
48,WA,157,188,230,266,314,383,424,499,540,600,627,667,692,694,719
49,WI,119,126,146,146,168,189,217,261,303,346,365,374,391,407,419
50,WV,8,8,8,9,13,17,24,27,32,34,35,38,40,43,45
51,WY,16,15,19,25,28,32,33,39,44,51,51,56,59,61,64
52,Other,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Total,2343,2725,3312,3934,4938,6080,7190,8863,10115,11584,12532,13380,14112,14597,15166

In [96]:
def Get_annual_BNR_df(raw_data_path: str, starting_year: int = 2014, end_year = 2024) -> pd.DataFrame:
    result_df = pd.DataFrame()
    
    for year in range(starting_year, end_year):
        beer_national_report = pd.read_excel(raw_data_path, skiprows=7, skipfooter=8, sheet_name=str(year))
        if result_df.empty:
            result_df['Metric'] = beer_national_report[beer_national_report.columns[0]]
        result_df[f'Annual Total {year}'] = beer_national_report[beer_national_report.columns[13]]

    return result_df

In [99]:
annual_brewers_metrics_df = Get_annual_BNR_df('../data/Beer_National_Report_22-MAY-2025.xlsx')
annual_brewers_metrics_df

,Metric,Annual Total 2014,Annual Total 2015,Annual Total 2016,Annual Total 2017,Annual Total 2018,Annual Total 2019,Annual Total 2020,Annual Total 2021,Annual Total 2022,Annual Total 2023
0,Number of Industry Membersc,3904,4594,5335,6169,6856,7334,7604,7886,8178,8102
1,Production,192879520,192636536,190656458,186579265,183793289,180421831,181842329,181861958,174808063,165440154
2,Taxable Removals,177448153,177164772,174605112,171113949,167700910,167889868,170440004,170131461,162838720,152486262
3,In Bottles & Cans,158550307,157961438,155481538,151756209,148449238,148980057,159181851,154461617,145906039,136303634
4,In Kegs,18182270,17870441,17051050,16626415,15873605,15079514,7589903,11050269,11875861,11366369
5,"Tax Determined, Premises Used",715575,1332892,2072524,2731324,3378067,3830298,3668250,4619575,5056821,4816259
6,Tax Free Removals For Export,5509262,6230157,6520927,6830951,6923976,5110672,3883293,4171646,3629616,2773540
7,Stocks On Hand End of Period,129425941,128840940,129592884,127252983,130306471,127294681,129078103,141737577,133727495,129317049

In [90]:
# open the excel spreadsheet
# load each sheet
def Get_annual_num_breweries(raw_data_path: str,  starting_year: int = 2014, end_year: int = 2024) -> pd.DataFrame:
    # make empty dfs
    num_of_breweries_df = pd.DataFrame()
    total_barrels_df = pd.DataFrame()

    for year in range(starting_year, end_year):
        brewers_production = pd.read_excel(raw_data_path, skiprows=8, skipfooter=8, sheet_name=str(year))

        if num_of_breweries_df.empty:
            num_of_breweries_df['production size'] = brewers_production[brewers_production.columns[0]]
            total_barrels_df['production size'] = brewers_production[brewers_production.columns[0]]
        num_of_breweries_df[f'number of breweries {year}'] = brewers_production[brewers_production.columns[1]]
        total_barrels_df[f'total barrels {year}'] = brewers_production[brewers_production.columns[2]]
            
    
    return num_of_breweries_df, total_barrels_df


# get the num_of_breweries across years from 2004-2024
# get the num_of_total_barrels across years from 2004-2024
# create a function
    # establish range of years
    # use a for..of loop to loop through range for each concept

In [ ]:
# breweries, barrels = Get_annual_num_breweries('../data/BrewersProduction_22-MAY-2025.xlsx')
# breweries, barrels

num_breweries_scale_df, output_scale_df = Get_annual_num_breweries('../data/BrewersProduction_22-MAY-2025.xlsx')

# num_breweries_scale_df
output_scale_df

,production size,total barrels 2014,total barrels 2015,total barrels 2016,total barrels 2017,total barrels 2018,total barrels 2019,total barrels 2020,total barrels 2021,total barrels 2022,total barrels 2023
0,"Greater Than 1,000,000 Barrels",1.698851e+08,1.660610e+08,1.631114e+08,1.577718e+08,1.548234e+08,1.501902e+08,1.486440e+08,1.472122e+08,1.401714e+08,1.307430e+08
1,"Greater Than 500,000 to 1,000,000 Barrels",4.427383e+06,5.045091e+06,4.293252e+06,6.287408e+06,5.862623e+06,7.585072e+06,9.319741e+06,9.737179e+06,9.593454e+06,1.079952e+07
2,"Greater Than 100,000 to 500,000 Barrels",9.116595e+06,1.110322e+07,1.096139e+07,8.984860e+06,8.832838e+06,8.135417e+06,1.024352e+07,9.976249e+06,1.018376e+07,1.006468e+07
3,"Greater Than 60,000 to 100,000 Barrels",1.548679e+06,1.799390e+06,2.961546e+06,3.266711e+06,3.255303e+06,2.678254e+06,2.476876e+06,2.231608e+06,1.941070e+06,1.591968e+06
4,"Greater Than 30,000 to 60,000 Barrels",2.670877e+06,2.514576e+06,2.512501e+06,2.397456e+06,2.377842e+06,2.941703e+06,2.924981e+06,3.619814e+06,3.670574e+06,3.339688e+06
5,"Greater Than 15,000 to 30,000 Barrels",1.420204e+06,1.495773e+06,1.661993e+06,2.206502e+06,2.333965e+06,2.290400e+06,2.250414e+06,2.101485e+06,2.249643e+06,2.368810e+06
6,"Greater Than 7,500 to 15,000 Barrels",1.071408e+06,1.442944e+06,1.611109e+06,1.699972e+06,1.748346e+06,1.804671e+06,1.796147e+06,2.129119e+06,2.020752e+06,1.754718e+06
7,"Greater Than 1,000 to 7,500 Barrels",2.012257e+06,2.318984e+06,2.520156e+06,2.826296e+06,3.256729e+06,3.404699e+06,2.931383e+06,3.458648e+06,3.489523e+06,3.277846e+06
8,"Greater Than 0 to 1,000 Barrels",7.269976e+05,8.555414e+05,1.023118e+06,1.138245e+06,1.302278e+06,1.391381e+06,1.255251e+06,1.395644e+06,1.455618e+06,1.390486e+06
9,0 Barrels,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [ ]:
# df3 = pd.read_excel('../data/Brewers_Association_Data_20250717.xlsx')

def Get_market_share_df(raw_data_path: str, sheet_name: str, starting_year: int = 2014, end_year:int = 2025) -> pd.DataFrame:
    result_df = pd.DataFrame()
    
    for year in range(starting_year, end_year):
        ba_share_data = pd.read_excel(raw_data_path, sheet_name, skiprows=28)
        if result_df.empty:
            # get the first column
            result_df['Share data'] = ba_share_data[ba_share_data.columns[0]]
            # get the row of years
            result_df[year] = ba_share_data.get(year)
        result_df[year] = ba_share_data.get(year)

    return result_df

In [110]:
Get_market_share_df('../data/Brewers_Association_Data_20250717.xlsx', '1. Craft Historical')

,Share data,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Craft Volume Share,11.05,12.2,12.1,12.5,13.0,13.6,12.2,13.0,13.2,13.700000
1,Import,14.93,15.9,16.8,17.5,18.4,19.0,19.6,21.0,22.2,23.160797
2,U.S. Non-Craft,74.01,71.9,71.1,70.0,68.7,67.4,68.3,66.0,64.5,63.175928
3,Craft $ Share,19.32,21.0,21.9,22.9,24.1,25.2,23.6,25.6,24.6,24.061262

In [104]:
test_df = pd.read_excel('../data/Brewers_Association_Data_20250717.xlsx', sheet_name='1. Craft Historical')
test_df

,Craft Barrels*,2024,2023,2022,2021,2020,2019,2018,2017,2016,...,1980,1979,1978,1977,1976,1975,1974,1973,1972,1971
0,Contract,342946.387825,197194.590403,228440,228440,324524,309301,287402,258197,244214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Regional,15547863.113563,15352322.75465,16539816,16539816,15425589,17739809,17751883,17744740,17883085,...,24220.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Microbrewery,3794856.480673,4190213.047545,4465081,4465081,4113685,4915195,5913143,5508641,4865341,...,2250.000000,12980.000000,12720.000000,10450.000000,7860.000000,7400.000000,6190.000000,4730.000000,3780.000000,2030.000000
3,Taproom,1917107.714708,1951365.939821,1932539,1932539,1664315,1676346,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Brewpub,1518367.699874,1668773.807457,1580950,1580950,1310071,1679130,1505001,1446982,1309909,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Total Craft Barrels,23121141.396643,23359870.139877,24273285,24746823,22838183,26319781,25457429,24958560,24302549,...,26470.000000,12980.000000,12720.000000,10450.000000,7860.000000,7400.000000,6190.000000,4730.000000,3780.000000,2030.000000
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Data set Change,"+706,734 to base","-677,201 from base","-490,000 from base","+95,000 to base","-912,166 from base","-27,000 from base","-160,945 from base","-303,143 from base","- 1,235,463 from base",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Barrel Change (Comparable),-945462.743233,-236213.860123,16462,1813640,-2569432,889352,659814,959154,1355551.440091,...,13490.000000,260.000000,2270.000000,2590.000000,460.000000,1210.000000,1460.000000,950.000000,1750.000000,770.000000
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Percent Volume Growth (Comparable),-3.929964,-0.973143,0.07,7.94,-10.11,3.497196,2.660796,3.996574,5.907315,...,103.929122,2.044025,21.722488,32.951654,6.216216,19.547658,30.866808,25.132275,86.206897,61.111111
12,NaN,NaN,NaN,NaN,1908640,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Craft Brewery Count,2024,2023,2022,2021,2020,2019,2018,2017,2016,...,1980.000000,1979.000000,1978.000000,1977.000000,1976.000000,1975.000000,1974.000000,1973.000000,1972.000000,1971.000000
14,Brewpub,3599,3502,3418,3337,3309,3171,2870,2503,2208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Regional,280,257,261,223,220,240,230,202,186,...,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Taproom,3948,3910,3838,3643,3389,3091,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Microbrewery,2034,2092,2035,2007,2003,1917,4518,3956,3319,...,7.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Total Operating Craft,9861,9761,9552,9210,8921,8419,7618,6661,5713,...,8.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Average Barrels,2024,2023,2021,2021,2020,2019,2018,2017,2016,...,1980.000000,1979.000000,1978.000000,1977.000000,1976.000000,1975.000000,1974.000000,1973.000000,1972.000000,1971.000000
22,Microbrewery (old definition),954.858608,1023.255413,1089.327431,1132.322124,1071.587537,1295,1308.796591,1392.477503,1465.905694,...,321.428571,6490.000000,6360.000000,5225.000000,3930.000000,7400.000000,6190.000000,4730.000000,3780.000000,2030.000000
23,Microbrewery,1865.711151,2002.969908,2194.142998,2224.753861,2053.761857,2375,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Taproom,485.589593,499.070573,503.527619,530.480099,491.093243,530.65717,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Brewpub,421.885996,476.520219,462.536571,473.76386,395.911454,529.526963,524.390592,578.099081,593.255888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Share data,2024,2023,2022,2021,2020,2019,2018,2017,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Craft Volume Share,13.288143,13.7,13.2,13,12.2,13.6,13,12.5,12.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Import,24.362845,23.160797,22.2,21,19.6,19,18.4,17.5,16.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,U.S. Non-Craft,62.349012,63.175928,64.5,66,68.3,67.4,68.7,70,71.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Craft $ Share,24.674779,24.061262,24.6,25.6,23.6,25.2,24.1,22.9,21.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN