# Change in Number of Breweries in the United States 2014 - 2024

## Imports

In [126]:
import pandas as pd
import matplotlib.pyplot as plt

## Creating DataFrames and Data Cleaning

My first spreadsheet looks like it will be a relatively straightforward import.

In [127]:
# creating the dataframe
# specifying which spreadsheet I want to use
# skipping extra rows at the top and bottom of the spreadsheet
state_brewery_count_df = pd.read_excel('../data/brewery_count_by_state_2024.xlsx', sheet_name='2010 - 2024', skiprows=7, skipfooter=12)
# checking the data
state_brewery_count_df

,Unnamed: 0,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,STATE,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT
1,AK,20,23,25,25,28,35,36,45,51,59,66,72,75,79,80
2,AL,7,9,15,23,25,30,37,52,55,66,68,77,84,93,99
3,AR,5,7,13,18,23,29,34,44,53,58,70,76,82,90,94
4,AZ,37,45,55,59,77,91,110,130,146,157,170,179,184,186,197
5,CA,358,401,472,528,654,788,927,1106,1236,1370,1465,1524,1571,1563,1624
6,CO,129,149,185,234,300,352,386,448,500,544,561,586,614,619,641
7,CT,21,20,24,39,50,59,76,103,124,149,162,172,176,177,179
8,DC,4,6,5,11,12,13,13,13,13,15,17,19,21,21,22
9,DE,11,12,13,13,15,21,25,33,38,43,47,51,54,57,60
10,FL,60,71,89,113,158,205,264,338,386,464,500,531,571,598,618
11,GA,26,25,31,37,48,54,69,102,121,158,186,208,234,244,265
12,HI,11,12,15,17,20,26,23,28,38,43,44,50,52,52,53
13,IA,27,35,46,54,60,71,94,115,125,137,149,154,166,177,181
14,ID,25,33,39,42,51,57,67,76,87,101,118,120,129,136,138
15,IL,62,68,95,123,164,210,244,291,338,372,405,418,436,455,463
16,IN,43,59,72,95,116,151,163,213,234,261,277,288,295,305,311
17,KS,17,21,21,25,27,37,47,53,64,78,78,88,92,100,112
18,KY,14,21,25,25,38,48,60,73,86,105,118,128,138,147,152
19,LA,12,12,12,15,17,25,34,43,47,60,68,69,75,78,80
20,MA,48,52,65,82,98,124,146,189,230,268,293,321,340,355,367
21,MD,24,26,40,43,55,73,88,116,141,159,176,188,200,206,218
22,ME,44,49,53,60,71,84,102,131,165,186,197,212,227,235,241
23,MI,111,131,160,195,256,316,379,452,510,577,605,636,670,691,719
24,MN,42,56,70,75,113,142,165,214,239,267,286,301,314,322,331
25,MO,51,55,60,63,77,90,116,145,168,192,212,230,249,261,275
26,MS,3,*,4,7,10,14,14,16,19,22,25,32,33,35,38
27,MT,31,35,41,49,62,74,79,98,108,121,128,137,139,138,142
28,NC,61,71,94,125,155,207,260,330,387,443,491,544,578,597,613
29,ND,3,3,7,8,10,11,15,22,26,29,31,34,33,33,33
30,NE,16,18,20,25,35,39,47,53,60,67,73,78,82,81,87
31,NH,19,21,25,35,46,63,73,88,106,125,135,140,156,154,161
32,NJ,24,31,29,37,49,71,96,123,146,175,186,198,211,219,232
33,NM,26,30,38,48,60,71,86,110,124,143,151,155,161,159,169
34,NV,20,20,23,26,34,39,44,46,50,65,71,73,72,76,81
35,NY,100,123,150,193,255,329,394,471,532,618,666,720,762,788,822
36,OH,75,81,99,114,151,187,236,324,377,437,482,525,563,602,625
37,OK,10,10,13,17,18,21,26,43,55,76,88,95,102,108,114
38,OR,120,148,180,220,244,281,304,347,386,406,428,441,451,459,459
39,PA,118,146,162,183,233,278,333,411,472,560,619,712,761,819,854
40,RI,5,6,9,12,14,15,17,27,33,40,51,52,54,55,54
41,SC,16,17,23,30,37,51,59,84,94,115,131,149,164,172,178
42,SD,8,9,12,12,15,19,21,28,35,45,58,63,64,68,70
43,TN,26,31,45,51,69,88,101,120,140,174,196,205,220,232,243
44,TX,59,84,107,128,170,220,266,333,387,466,526,581,618,650,688
45,UT,18,18,22,24,27,29,34,39,46,54,54,55,61,65,66
46,VA,44,54,67,85,117,155,209,287,328,383,420,447,479,517,552
47,VT,32,34,39,45,51,66,73,84,90,100,106,111,117,118,118
48,WA,157,188,230,266,314,383,424,499,540,600,627,667,692,694,719
49,WI,119,126,146,146,168,189,217,261,303,346,365,374,391,407,419
50,WV,8,8,8,9,13,17,24,27,32,34,35,38,40,43,45
51,WY,16,15,19,25,28,32,33,39,44,51,51,56,59,61,64
52,Other,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Total,2343,2725,3312,3934,4938,6080,7190,8863,10115,11584,12532,13380,14112,14597,15166

There are extra rows I'll want to remove.

In [128]:
# dropping rows and modifying the original dataframe
state_brewery_count_df.drop([0, 52],inplace=True)
# making sure the drop worked
state_brewery_count_df

,Unnamed: 0,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
1,AK,20,23,25,25,28,35,36,45,51,59,66,72,75,79,80
2,AL,7,9,15,23,25,30,37,52,55,66,68,77,84,93,99
3,AR,5,7,13,18,23,29,34,44,53,58,70,76,82,90,94
4,AZ,37,45,55,59,77,91,110,130,146,157,170,179,184,186,197
5,CA,358,401,472,528,654,788,927,1106,1236,1370,1465,1524,1571,1563,1624
6,CO,129,149,185,234,300,352,386,448,500,544,561,586,614,619,641
7,CT,21,20,24,39,50,59,76,103,124,149,162,172,176,177,179
8,DC,4,6,5,11,12,13,13,13,13,15,17,19,21,21,22
9,DE,11,12,13,13,15,21,25,33,38,43,47,51,54,57,60
10,FL,60,71,89,113,158,205,264,338,386,464,500,531,571,598,618
11,GA,26,25,31,37,48,54,69,102,121,158,186,208,234,244,265
12,HI,11,12,15,17,20,26,23,28,38,43,44,50,52,52,53
13,IA,27,35,46,54,60,71,94,115,125,137,149,154,166,177,181
14,ID,25,33,39,42,51,57,67,76,87,101,118,120,129,136,138
15,IL,62,68,95,123,164,210,244,291,338,372,405,418,436,455,463
16,IN,43,59,72,95,116,151,163,213,234,261,277,288,295,305,311
17,KS,17,21,21,25,27,37,47,53,64,78,78,88,92,100,112
18,KY,14,21,25,25,38,48,60,73,86,105,118,128,138,147,152
19,LA,12,12,12,15,17,25,34,43,47,60,68,69,75,78,80
20,MA,48,52,65,82,98,124,146,189,230,268,293,321,340,355,367
21,MD,24,26,40,43,55,73,88,116,141,159,176,188,200,206,218
22,ME,44,49,53,60,71,84,102,131,165,186,197,212,227,235,241
23,MI,111,131,160,195,256,316,379,452,510,577,605,636,670,691,719
24,MN,42,56,70,75,113,142,165,214,239,267,286,301,314,322,331
25,MO,51,55,60,63,77,90,116,145,168,192,212,230,249,261,275
26,MS,3,*,4,7,10,14,14,16,19,22,25,32,33,35,38
27,MT,31,35,41,49,62,74,79,98,108,121,128,137,139,138,142
28,NC,61,71,94,125,155,207,260,330,387,443,491,544,578,597,613
29,ND,3,3,7,8,10,11,15,22,26,29,31,34,33,33,33
30,NE,16,18,20,25,35,39,47,53,60,67,73,78,82,81,87
31,NH,19,21,25,35,46,63,73,88,106,125,135,140,156,154,161
32,NJ,24,31,29,37,49,71,96,123,146,175,186,198,211,219,232
33,NM,26,30,38,48,60,71,86,110,124,143,151,155,161,159,169
34,NV,20,20,23,26,34,39,44,46,50,65,71,73,72,76,81
35,NY,100,123,150,193,255,329,394,471,532,618,666,720,762,788,822
36,OH,75,81,99,114,151,187,236,324,377,437,482,525,563,602,625
37,OK,10,10,13,17,18,21,26,43,55,76,88,95,102,108,114
38,OR,120,148,180,220,244,281,304,347,386,406,428,441,451,459,459
39,PA,118,146,162,183,233,278,333,411,472,560,619,712,761,819,854
40,RI,5,6,9,12,14,15,17,27,33,40,51,52,54,55,54
41,SC,16,17,23,30,37,51,59,84,94,115,131,149,164,172,178
42,SD,8,9,12,12,15,19,21,28,35,45,58,63,64,68,70
43,TN,26,31,45,51,69,88,101,120,140,174,196,205,220,232,243
44,TX,59,84,107,128,170,220,266,333,387,466,526,581,618,650,688
45,UT,18,18,22,24,27,29,34,39,46,54,54,55,61,65,66
46,VA,44,54,67,85,117,155,209,287,328,383,420,447,479,517,552
47,VT,32,34,39,45,51,66,73,84,90,100,106,111,117,118,118
48,WA,157,188,230,266,314,383,424,499,540,600,627,667,692,694,719
49,WI,119,126,146,146,168,189,217,261,303,346,365,374,391,407,419
50,WV,8,8,8,9,13,17,24,27,32,34,35,38,40,43,45
51,WY,16,15,19,25,28,32,33,39,44,51,51,56,59,61,64
53,Total,2343,2725,3312,3934,4938,6080,7190,8863,10115,11584,12532,13380,14112,14597,15166

Next, I want to remove the columns for years 2010 - 2013 as they won't be a part of the analysis.

In [129]:
state_brewery_count_df = state_brewery_count_df.drop(columns=state_brewery_count_df.loc[:,2010:2013].columns)
state_brewery_count_df.head()

  Unnamed: 0 2014 2015 2016  2017  2018  2019  2020  2021  2022  2023  2024
1         AK   28   35   36    45    51    59    66    72    75    79    80
2         AL   25   30   37    52    55    66    68    77    84    93    99
3         AR   23   29   34    44    53    58    70    76    82    90    94
4         AZ   77   91  110   130   146   157   170   179   184   186   197
5         CA  654  788  927  1106  1236  1370  1465  1524  1571  1563  1624

I want to rename the `Unnamed: 0` column.

In [130]:
# assigning a new name
state_brewery_count_df.columns.values[0] = 'States'
# making sure it worked
state_brewery_count_df

,States,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
1,AK,28,35,36,45,51,59,66,72,75,79,80
2,AL,25,30,37,52,55,66,68,77,84,93,99
3,AR,23,29,34,44,53,58,70,76,82,90,94
4,AZ,77,91,110,130,146,157,170,179,184,186,197
5,CA,654,788,927,1106,1236,1370,1465,1524,1571,1563,1624
6,CO,300,352,386,448,500,544,561,586,614,619,641
7,CT,50,59,76,103,124,149,162,172,176,177,179
8,DC,12,13,13,13,13,15,17,19,21,21,22
9,DE,15,21,25,33,38,43,47,51,54,57,60
10,FL,158,205,264,338,386,464,500,531,571,598,618
11,GA,48,54,69,102,121,158,186,208,234,244,265
12,HI,20,26,23,28,38,43,44,50,52,52,53
13,IA,60,71,94,115,125,137,149,154,166,177,181
14,ID,51,57,67,76,87,101,118,120,129,136,138
15,IL,164,210,244,291,338,372,405,418,436,455,463
16,IN,116,151,163,213,234,261,277,288,295,305,311
17,KS,27,37,47,53,64,78,78,88,92,100,112
18,KY,38,48,60,73,86,105,118,128,138,147,152
19,LA,17,25,34,43,47,60,68,69,75,78,80
20,MA,98,124,146,189,230,268,293,321,340,355,367
21,MD,55,73,88,116,141,159,176,188,200,206,218
22,ME,71,84,102,131,165,186,197,212,227,235,241
23,MI,256,316,379,452,510,577,605,636,670,691,719
24,MN,113,142,165,214,239,267,286,301,314,322,331
25,MO,77,90,116,145,168,192,212,230,249,261,275
26,MS,10,14,14,16,19,22,25,32,33,35,38
27,MT,62,74,79,98,108,121,128,137,139,138,142
28,NC,155,207,260,330,387,443,491,544,578,597,613
29,ND,10,11,15,22,26,29,31,34,33,33,33
30,NE,35,39,47,53,60,67,73,78,82,81,87
31,NH,46,63,73,88,106,125,135,140,156,154,161
32,NJ,49,71,96,123,146,175,186,198,211,219,232
33,NM,60,71,86,110,124,143,151,155,161,159,169
34,NV,34,39,44,46,50,65,71,73,72,76,81
35,NY,255,329,394,471,532,618,666,720,762,788,822
36,OH,151,187,236,324,377,437,482,525,563,602,625
37,OK,18,21,26,43,55,76,88,95,102,108,114
38,OR,244,281,304,347,386,406,428,441,451,459,459
39,PA,233,278,333,411,472,560,619,712,761,819,854
40,RI,14,15,17,27,33,40,51,52,54,55,54
41,SC,37,51,59,84,94,115,131,149,164,172,178
42,SD,15,19,21,28,35,45,58,63,64,68,70
43,TN,69,88,101,120,140,174,196,205,220,232,243
44,TX,170,220,266,333,387,466,526,581,618,650,688
45,UT,27,29,34,39,46,54,54,55,61,65,66
46,VA,117,155,209,287,328,383,420,447,479,517,552
47,VT,51,66,73,84,90,100,106,111,117,118,118
48,WA,314,383,424,499,540,600,627,667,692,694,719
49,WI,168,189,217,261,303,346,365,374,391,407,419
50,WV,13,17,24,27,32,34,35,38,40,43,45
51,WY,28,32,33,39,44,51,51,56,59,61,64
53,Total,4938,6080,7190,8863,10115,11584,12532,13380,14112,14597,15166

That was a lot of steps so creating a function can help expedite the dataframe creation and clean up process. Looking at my next spreadsheet I notice each sheet follows a similar pattern which will make it easier to iterate through the spreadsheet. The parameters I'll include with my function are 

1. The path to the spreadsheet
2. The first year of the period of time I'm examining
3. The final year of that timeframe.

In [131]:
# the function definition with parameters for the path to the spreadsheet, the first year of the analysis timeframe, and the final year
# the parameters are using type hinting in combination with default values for better readability
# the arrow syntax of the function definition will indicate the expected return which also helps improve readability
def Get_annual_BNR_df(raw_data_path: str, starting_year: int = 2014, end_year: int = 2024) -> pd.DataFrame:
    # an empty dataframe to hold the results of the function
    result_df = pd.DataFrame()
    
    # we can iterate over the amount of time from the starting year to the end year with a for loop in combination with the range function
    # the stop number isn't included in the range, so we'll need to increment by one in order to make sure the last year is included
    for year in range(starting_year, end_year+1):
        # here I'm reading the spreadsheet and using the parameters from the function definition as parameters for read_excel
        # this spreadsheet shares similarity with the earlier spreadsheet, so I can reuse skiprows and skipfooter to prevent unneeded data being imported into the dataframe
        # conveniently the name of each sheet in the spreadsheet is also the year, so I can reuse year to specify which sheet I want to import, but I'll need to convert year from an integer to a string
        beer_national_report = pd.read_excel(raw_data_path, skiprows=7, skipfooter=8, sheet_name=str(year))
        # here I'm specifying that if result_df is empty (which it is) do the following
        if result_df.empty:
            # this is taking the first column of the spreadsheet and setting it as the column 'Metric' in the dataframe
            result_df['Metric'] = beer_national_report[beer_national_report.columns[0]]
        # as result_df is no longer empty this takes the content of column 13 from the spreadsheet and sets it as a column named 'Annual Total' with an f-string using the year 
        # this will repeat for the duration of the range function until year = year + 1
        result_df[f'Annual Total {year}'] = beer_national_report[beer_national_report.columns[13]]

    # finally we return our populated dataframe
    return result_df

Now I'll define a new dataframe with the results of calling the function.

In [132]:
annual_brewers_metrics_df = Get_annual_BNR_df('../data/Beer_National_Report_22-MAY-2025.xlsx')
#  checking the contents of the dataframe
annual_brewers_metrics_df

,Metric,Annual Total 2014,Annual Total 2015,Annual Total 2016,Annual Total 2017,Annual Total 2018,Annual Total 2019,Annual Total 2020,Annual Total 2021,Annual Total 2022,Annual Total 2023,Annual Total 2024
0,NumberofIndustryMembersc,3904,4594,5335,6169,6856,7334,7604,7886,8178,8102,7723
1,Production,192879520,192636536,190656458,186579265,183793289,180421831,181842329,181861958,174808063,165440154,157998783
2,TaxableRemovals,177448153,177164772,174605112,171113949,167700910,167889868,170440004,170131461,162838720,152486262,147680509
3,InBottles&Cans,158550307,157961438,155481538,151756209,148449238,148980057,159181851,154461617,145906039,136303634,132433409
4,InKegs,18182270,17870441,17051050,16626415,15873605,15079514,7589903,11050269,11875861,11366369,10981725
5,"TaxDetermined,PremisesUsed",715575,1332892,2072524,2731324,3378067,3830298,3668250,4619575,5056821,4816259,4265375
6,TaxFreeRemovalsForExport,5509262,6230157,6520927,6830951,6923976,5110672,3883293,4171646,3629616,2773540,2596332
7,StocksOnHandEndofPeriod,129425941,128840940,129592884,127252983,130306471,127294681,129078103,141737577,133727495,129317049,126226930

The dataframe looks good, but there's a typo in the `Metric` column that I'll want to fix.

In [133]:
# fix the typo
annual_brewers_metrics_df['Metric'] = annual_brewers_metrics_df['Metric'].replace('Number of Industry Membersc', 'Number of Industry Members')
# check the replacement
annual_brewers_metrics_df

,Metric,Annual Total 2014,Annual Total 2015,Annual Total 2016,Annual Total 2017,Annual Total 2018,Annual Total 2019,Annual Total 2020,Annual Total 2021,Annual Total 2022,Annual Total 2023,Annual Total 2024
0,NumberofIndustryMembersc,3904,4594,5335,6169,6856,7334,7604,7886,8178,8102,7723
1,Production,192879520,192636536,190656458,186579265,183793289,180421831,181842329,181861958,174808063,165440154,157998783
2,TaxableRemovals,177448153,177164772,174605112,171113949,167700910,167889868,170440004,170131461,162838720,152486262,147680509
3,InBottles&Cans,158550307,157961438,155481538,151756209,148449238,148980057,159181851,154461617,145906039,136303634,132433409
4,InKegs,18182270,17870441,17051050,16626415,15873605,15079514,7589903,11050269,11875861,11366369,10981725
5,"TaxDetermined,PremisesUsed",715575,1332892,2072524,2731324,3378067,3830298,3668250,4619575,5056821,4816259,4265375
6,TaxFreeRemovalsForExport,5509262,6230157,6520927,6830951,6923976,5110672,3883293,4171646,3629616,2773540,2596332
7,StocksOnHandEndofPeriod,129425941,128840940,129592884,127252983,130306471,127294681,129078103,141737577,133727495,129317049,126226930

That doesn't seem to work, so I need to check what's in the `Metric` column.

In [134]:
print(annual_brewers_metrics_df['Metric'].tolist())

['Number\xa0of\xa0Industry\xa0Membersc', 'Production', 'Taxable\xa0Removals', '\xa0\xa0\xa0\xa0In\xa0Bottles\xa0&\xa0Cans', '\xa0\xa0\xa0\xa0In\xa0Kegs', '\xa0\xa0\xa0\xa0Tax\xa0Determined,\xa0Premises\xa0Used', 'Tax\xa0Free\xa0Removals\xa0For\xa0Export', 'Stocks\xa0On\xa0Hand\xa0End\xa0of\xa0Period']

A quick search tells me `\xa0` is a non-breaking space, which I'll need to remove.

In [135]:
# replacing the offending `\xa0` with a space
annual_brewers_metrics_df['Metric'] = annual_brewers_metrics_df['Metric'].str.replace('\xa0', ' ')
# checking the replacement
print(annual_brewers_metrics_df['Metric'].tolist())

['Number of Industry Membersc', 'Production', 'Taxable Removals', '    In Bottles & Cans', '    In Kegs', '    Tax Determined, Premises Used', 'Tax Free Removals For Export', 'Stocks On Hand End of Period']

There are a lot more non-breaking spaces than I realize, so they'll also need to be removed using `str.strip`.

In [136]:
# stripping the non-breaking spaces
annual_brewers_metrics_df['Metric'] = annual_brewers_metrics_df['Metric'].str.strip()
# checking that it worked
print(annual_brewers_metrics_df['Metric'].tolist())

['Number of Industry Membersc', 'Production', 'Taxable Removals', 'In Bottles & Cans', 'In Kegs', 'Tax Determined, Premises Used', 'Tax Free Removals For Export', 'Stocks On Hand End of Period']

Now that the non-breaking spaces and extra blank spaces are gone I can go back to fixing the typo.

In [137]:
# typo replacement
annual_brewers_metrics_df['Metric'] = annual_brewers_metrics_df['Metric'].replace("Number of Industry Membersc", "Number of Industry Members")
# making sure the typo is gone
print(annual_brewers_metrics_df['Metric'].tolist())

['Number of Industry Members', 'Production', 'Taxable Removals', 'In Bottles & Cans', 'In Kegs', 'Tax Determined, Premises Used', 'Tax Free Removals For Export', 'Stocks On Hand End of Period']

For the next spreadsheet I want two columns from every sheet which will be two new dataframes. I'll use the previous function with a couple of changes. 

1. The function will now return a tuple because I'll want to return two dataframes which will then be assigned to new dataframes outside of the function.
2. There will be two empty dataframes in the function in order to keep the data from the two columns I want from the spreadsheet separate.
3. As mentioned above the function will return two dataframes now instead of one.

In [138]:
# function definition now indicating a tuple will be returned
def Get_annual_num_breweries(raw_data_path: str,  starting_year: int = 2014, end_year: int = 2024) -> tuple:
    # making two empty dataframes to populate
    num_of_breweries_df = pd.DataFrame()
    total_barrels_df = pd.DataFrame()

    for year in range(starting_year, end_year+1):
        brewers_production = pd.read_excel(raw_data_path, skiprows=8, skipfooter=8, sheet_name=str(year))

        if num_of_breweries_df.empty:
            # instead of only one dataframe the function will now populate the two empty dataframes
            num_of_breweries_df['production size'] = brewers_production[brewers_production.columns[0]]
            total_barrels_df['production size'] = brewers_production[brewers_production.columns[0]]
        # the dataframes are no longer empty so each dataframe will be filled with their respective columns
        num_of_breweries_df[f'number of breweries {year}'] = brewers_production[brewers_production.columns[1]]
        total_barrels_df[f'total barrels {year}'] = brewers_production[brewers_production.columns[2]]
            
    # now returning two dataframes
    return num_of_breweries_df, total_barrels_df

In [139]:
# breweries, barrels = Get_annual_num_breweries('../data/BrewersProduction_22-MAY-2025.xlsx')
# breweries, barrels

num_breweries_scale_df, output_scale_df = Get_annual_num_breweries('../data/BrewersProduction_22-MAY-2025.xlsx')

# num_breweries_scale_df
output_scale_df

,production size,total barrels 2014,total barrels 2015,total barrels 2016,total barrels 2017,total barrels 2018,total barrels 2019,total barrels 2020,total barrels 2021,total barrels 2022,total barrels 2023,total barrels 2024
0,"Greater Than 1,000,000 Barrels",1.698851e+08,1.660610e+08,1.631114e+08,1.577718e+08,1.548234e+08,1.501902e+08,1.486440e+08,1.472122e+08,1.401714e+08,1.307430e+08,1.237856e+08
1,"Greater Than 500,000 to 1,000,000 Barrels",4.427383e+06,5.045091e+06,4.293252e+06,6.287408e+06,5.862623e+06,7.585072e+06,9.319741e+06,9.737179e+06,9.593454e+06,1.079952e+07,1.244868e+07
2,"Greater Than 100,000 to 500,000 Barrels",9.116595e+06,1.110322e+07,1.096139e+07,8.984860e+06,8.832838e+06,8.135417e+06,1.024352e+07,9.976249e+06,1.018376e+07,1.006468e+07,8.689090e+06
3,"Greater Than 60,000 to 100,000 Barrels",1.548679e+06,1.799390e+06,2.961546e+06,3.266711e+06,3.255303e+06,2.678254e+06,2.476876e+06,2.231608e+06,1.941070e+06,1.591968e+06,1.948234e+06
4,"Greater Than 30,000 to 60,000 Barrels",2.670877e+06,2.514576e+06,2.512501e+06,2.397456e+06,2.377842e+06,2.941703e+06,2.924981e+06,3.619814e+06,3.670574e+06,3.339688e+06,2.971546e+06
5,"Greater Than 15,000 to 30,000 Barrels",1.420204e+06,1.495773e+06,1.661993e+06,2.206502e+06,2.333965e+06,2.290400e+06,2.250414e+06,2.101485e+06,2.249643e+06,2.368810e+06,2.082778e+06
6,"Greater Than 7,500 to 15,000 Barrels",1.071408e+06,1.442944e+06,1.611109e+06,1.699972e+06,1.748346e+06,1.804671e+06,1.796147e+06,2.129119e+06,2.020752e+06,1.754718e+06,1.600848e+06
7,"Greater Than 1,000 to 7,500 Barrels",2.012257e+06,2.318984e+06,2.520156e+06,2.826296e+06,3.256729e+06,3.404699e+06,2.931383e+06,3.458648e+06,3.489523e+06,3.277846e+06,2.913998e+06
8,"Greater Than 0 to 1,000 Barrels",7.269976e+05,8.555414e+05,1.023118e+06,1.138245e+06,1.302278e+06,1.391381e+06,1.255251e+06,1.395644e+06,1.455618e+06,1.390486e+06,1.303330e+06
9,0 Barrels,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [140]:
num_breweries_scale_df

,production size,number of breweries 2014,number of breweries 2015,number of breweries 2016,number of breweries 2017,number of breweries 2018,number of breweries 2019,number of breweries 2020,number of breweries 2021,number of breweries 2022,number of breweries 2023,number of breweries 2024
0,"Greater Than 1,000,000 Barrels",26,26,25,24,25,26,27,28,26,24,24
1,"Greater Than 500,000 to 1,000,000 Barrels",7,7,6,10,10,12,13,14,14,16,16
2,"Greater Than 100,000 to 500,000 Barrels",44,51,46,41,43,41,46,50,46,49,39
3,"Greater Than 60,000 to 100,000 Barrels",20,23,37,42,42,34,32,29,25,20,25
4,"Greater Than 30,000 to 60,000 Barrels",62,57,57,57,58,70,71,86,86,80,73
5,"Greater Than 15,000 to 30,000 Barrels",67,71,79,106,111,107,106,97,104,115,98
6,"Greater Than 7,500 to 15,000 Barrels",105,135,154,164,170,170,172,201,193,168,153
7,"Greater Than 1,000 to 7,500 Barrels",752,892,956,1101,1207,1257,1105,1285,1277,1238,1073
8,"Greater Than 0 to 1,000 Barrels",2380,2858,3402,3894,4448,4834,5095,5056,5347,5332,5095
9,0 Barrels,441,474,573,729,741,782,936,1039,1016,999,1009

In [141]:
def Get_market_share_df(raw_data_path: str, sheet_name: str, starting_year: int = 2014, end_year:int = 2024) -> pd.DataFrame:
    result_df = pd.DataFrame()
    
    for year in range(starting_year, end_year+1):
        ba_share_data = pd.read_excel(raw_data_path, sheet_name, skiprows=28)
        if result_df.empty:
            # get the first column
            result_df['Share data'] = ba_share_data[ba_share_data.columns[0]]
            # get the row of years
            result_df[year] = ba_share_data.get(year)
        result_df[year] = ba_share_data.get(year)

    return result_df

In [142]:
Get_market_share_df('../data/Brewers_Association_Data_20250717.xlsx', '1. Craft Historical')

,Share data,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Craft Volume Share,11.05,12.2,12.1,12.5,13.0,13.6,12.2,13.0,13.2,13.700000,13.288143
1,Import,14.93,15.9,16.8,17.5,18.4,19.0,19.6,21.0,22.2,23.160797,24.362845
2,U.S. Non-Craft,74.01,71.9,71.1,70.0,68.7,67.4,68.3,66.0,64.5,63.175928,62.349012
3,Craft $ Share,19.32,21.0,21.9,22.9,24.1,25.2,23.6,25.6,24.6,24.061262,24.674779